/* You can add global styles to this file, and also import other style files */
.Container {
    display: flex;
    justify-content: center;
    background: rgb(220, 223, 224);
    align-items: center;
    margin-top: 4%;
    flex-direction: column;
    .Brewery-List {
        display: flex;
        justify-content: center;
        min-width: 80rem;
        max-width: 80rem;
        .row {
            display: flex;
            justify-content: center;
            background: #fff;
            margin: 2px 0 2px 0;
            width: 100%;
            min-height: 2rem;
            border-radius: 4px;
            .breweryData {
                width: 100%;
                min-width: 20rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid rgb(86, 141, 241);
                overflow-x: hidden;
                span {
                    width: 100%;
                }
                .column-resize {
                    display: flex;
                    justify-content: flex-end;
                    width: 3px;
                    height: 100%;
                    padding: 0;
                    cursor: col-resize;
                }
            }
        }
    }
} 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
